<div class="container">      
    <div class="row space-100 pt-5 pb-5">
      <div class="col-md-8 col-sm-8 col-xs-12 d-flex wow fadeInDown">
        <div class="contents pr-4 d-flex justify-content-center flex-column">
          <h1 class="head-title">About</h1>
          <h4>Follow the CUW Art Gallery on Facebook for news and updates.</h4>
          <div class="header-button">
            <a target="_blank" title="CUW Art Gallery Facebook" href="https://www.facebook.com/CUWArtGallery/" class="btn btn-border"><span class="mr-1 fa fa-facebook-square"></span> View Page</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 d-flex justify-content-center flex-column  wow fadeInLeft">
        <h2>
        Gallery Hours
        </h2>    
          <p>Monday - Thursday | 4:00 pm - 8:00 pm</p>
            <p>Friday and Sunday | 12:00 pm - 4:00 pm</p>
            <p>Saturday | CLOSED</p>
      </div>
    </div> 
</div>