<div class="container mt-5 mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="contents text-center">
                <h1 class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Title of an awesome gallery exhibit</h1>
                <div class="post-meta">
                    <ul>
                        <li><span class="lnr lnr-calendar-full"></span> {{ page.opening_date | date: "%b %d, %Y | %I:%M%p" }}</li>
                        <li><span class="lnr lnr-tag"></span>
                            {% for item in page.media_types %}
                                {% if forloop.first == true %}
                                    {{item}}
                                {% else %}
                                    {{" | "}}{{item}}
                                {% endif %}
                            {%endfor%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>