<!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons">
                        <ul>
                            {%- if site.social.facebook | size > 0 -%} 
                                <li class="facebook"><a href="{{site.social.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            {%- endif -%}
                            {%- if site.social.twitter | size > 0 -%} 
                                <li class="twitter"><a href="{{site.social.twitter}}"><i class="fa fa-twitter"></i></a></li>
                            {%- endif -%}
                            {%- if site.social.linkedin | size > 0 -%} 
                                <li class="linkedin"><a href="{{site.social.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                            {%- endif -%}
                            
                        </ul>
                    </div>
                    <div class="site-info">
                        <p>&copy;
                            <script>
                                document.write((new Date()).getFullYear())
                            </script> Concordia University Wisconsin Art Gallery</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->
 <!-- Go To Top Link -->
    <a href="#" class="back-to-top"> <i class="lnr lnr-arrow-up"></i> </a>
    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
