<script src="{{ "js/jquery-min.js" | absolute_url }}"></script>
<script src="{{ "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" | absolute_url }}"></script>
<script src="{{ "js/tether.min.js" | absolute_url }}"></script>
<script src="{{ "js/test-bootstrap.min.js" | absolute_url }}"></script>
<script src="{{ "js/classie.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.mixitup.js" | absolute_url }}"></script>
<script src="{{ "js/nivo-lightbox.js" | absolute_url }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.nav.js" | absolute_url }}"></script>
<script src="{{ "js/scrolling-nav.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.easing.min.js" | absolute_url }}"></script>
<script src="{{ "js/wow.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.vide.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.counterup.min.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | absolute_url }}"></script>
<script src="{{ "js/waypoints.min.js" | absolute_url }}"></script>
<script src="{{ "js/form-validator.min.js" | absolute_url }}"></script>
<script src="{{ "js/contact-form-script.js" | absolute_url }}"></script>
<script src="{{ "js/main.js" | absolute_url }}"></script>