---
layout: default
hide_body: false
is_partial: false
fields:
- type: text
  name: upcoming_exhibits_summary
  label: Upcoming Exhibits Summary
- type: text
  name: archive_summary
  label: archive_summary
---

<!-- {{content}} -->
<!-- Services Section Start -->
        <section id="featured" class="section">
            <div class="container">
                <div class="section-header text-left">
                    <h2 class="section-title wow fadeIn">Featured <span>Exhibit</span></h2>
                    <hr class="lines wow zoomIn" data-wow-delay="0.3s"> </div>
                <div class="row d-flex">
                    <div class="order-2 order-sm-1 d-flex align-items-center col-md-8 col-sm-8 col-xs-12">
                        <div class="contents wow fadeInLeft" data-wow-duration="1000ms">
                            <h3 class="head-title">Title of Exhibit</h3>
                            <h4>Opening night on May 3rd</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                            <div class="header-button"> <a href="#" title="Title of Exhibit" class="btn btn-common">Read More <i class="lnr lnr-arrow-right"></i></a> </div>
                        </div>
                    </div>
                    <div class="order-1 order-sm-2 d-flex align-items-center col-md-4 col-sm-4 col-xs-12">
                        <div class="intro-img mb-3 mb-sm-0 wow fadeInRight" data-wow-duration="1000ms"> <img src="uploads/img2.jpg" alt=""> </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section -->
        <section id="blog" class="section">
            <!-- Container Starts -->
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title wow fadeIn">Upcoming Exhibits</h2>
                    <hr class="lines wow zoomIn">
                    <p class="section-subtitle wow fadeIn">{{page.upcoming_exhibits_summary}}</p>
                </div>
                <div class="row d-flex">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item wow fadeInUp">
                        <!-- Blog Item Starts -->
                        <div class="blog-item-wrapper h-100 d-flex flex-column">
                            <div class="blog-item-img"> <img src="uploads/img2.jpg" alt=""> </div>
                            <div class="blog-item-text">
                                <h3>How often should you tweet?</h3>
                                <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 23, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="tag" title="Fine Art" href="#">Fine Art</a> | <a title="Graphic Design" href="#">Graphic Design</a></span> </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p> <a title="Title of Item" href="single-post.html" class="btn btn-common btn-rm">Read More</a> </div>
                        </div>
                        <!-- Blog Item Wrapper Ends-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item wow fadeInUp" data-wow-delay="200ms">
                        <!-- Blog Item Starts -->
                        <div class="blog-item-wrapper h-100 d-flex flex-column">
                            <div class="blog-item-img"> <img src="uploads/img2.jpg" alt=""> </div>
                            <div class="blog-item-text">
                                <h3>How often should you tweet?</h3>
                                <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 23, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="tag" title="Fine Art" href="#">Fine Art</a> | <a title="Graphic Design" href="#">Graphic Design</a></span> </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p> <a title="Title of Item" href="single-post.html" class="btn btn-common btn-rm">Read More</a> </div>
                        </div>
                        <!-- Blog Item Wrapper Ends-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item wow fadeInUp" data-wow-delay="400ms">
                        <!-- Blog Item Starts -->
                        <div class="blog-item-wrapper h-100 d-flex flex-column">
                            <div class="blog-item-img"> <img src="uploads/img2.jpg" alt=""> </div>
                            <div class="blog-item-text">
                                <h3>How often should you tweet?</h3>
                                <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 23, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="tag" title="Fine Art" href="#">Fine Art</a> | <a title="Graphic Design" href="#">Graphic Design</a></span> </div>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p> <a title="Title of Item" href="single-post.html" class="btn btn-common btn-rm">Read More</a> </div>
                        </div>
                        <!-- Blog Item Wrapper Ends-->
                    </div>
                </div>
            </div>
        </section>
        <!-- blog Section End -->
        <!-- Portfolio Section -->
        <section id="portfolios" class="section">
            <!-- Container Starts -->
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title wow fadeIn">Archive</h2>
                    <hr class="lines wow zoomIn">
                    <p class="section-subtitle wow fadeIn">{{page.archive_summary}}</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Controller/Buttons -->
                        <div class="controls justify-content-center text-center d-flex flex-row"> <a href="#" class="filter flex-grow-1 flex-sm-grow-0 btn btn-common" data-filter="all">
                All 
              </a> <a href="#" class="filter flex-grow-1 flex-sm-grow-0 btn btn-common" data-filter=".design">
                Design 
              </a> <a href="#" class="filter flex-grow-1 flex-sm-grow-0 btn btn-common" data-filter=".development">
                Development
              </a> <a href="#" class="filter flex-grow-1 flex-sm-grow-0 btn btn-common" data-filter=".print">
                Print 
              </a> </div>
                    </div>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
                <div class="row">
                    <div class="col-md-12">
                        <form id="search-portfolio" class="d-flex flex-row align-items-stretch">
                            <input class="mr-2 w-100" type="text" name="fname">
                            <button type="submit" class="btn btn-common">Search</button>
                        </form>
                    </div>
                </div>
                <!-- Portfolio Recent Projects -->
                <div class="show-less text-center mt-2"><a href="#" title="Show less items" class="btn btn-common">Show Less <span class="lnr lnr-chevron-up ml-1"></span></a></div>
                <div class="more-wrap">
                    <div id="portfolio" class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 2">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 2">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 2</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 1, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 2">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 2">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 2</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 2, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 1">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 1">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 1</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 3, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 1">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 1">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 1</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 4, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 1">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 1">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 1</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 5, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 mix development design">
                            <div class="portfolio-item" data-info="Title of Exhibit 1">
                                <div class="shot-item">
                                    <a href="#" title="Title of Exhibit 1">
                                        <div class="overlay lightbox"> <img src="uploads/portfolio/img1.jpg" alt="" /> <i class="lnr lnr-plus-circle item-icon"></i> </div>
                                        <h3>Title of Exhibit 1</h3> </a>
                                    <div class="meta-tags"> <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 6, 2018</span> <span class="type"><i class="lnr lnr-tag"></i><a class="filter tag" data-filter=".development" title="Filter Development" href="#">Development</a> | <a class="filter tag" data-filter=".design" title="Filter Design" href="#">Design</a></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-more active text-center mt-2"><a href="#" title="Show more items" class="btn btn-common">Show More <span class="lnr lnr-chevron-down ml-1"></span></a></div>
            </div>
            <!-- Container Ends -->
        </section>
        <!-- Portfolio Section Ends -->