---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}
{% comment %}
<div class="container pure-g">
  <div class="pure-u-1">
    <div class="content content-narrow">
      <div class="meta">
        {% if page.date %}
        <div class="post-date">{{ page.date | date_to_string }}</div>
        {% endif %}
        {% if page.tags.size > 0 %}
        <span class="meta-separator">&bull;</span>
        <ul class="tags-list">
          <li class="inline tag_list_item">
						Tags:
					</li>
					{% for tag in page.tags %}
          <li class="inline tag_list_item">
            {{ tag }}
            {% if forloop.last == true %}{% else %}
              <span>,</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {{ content }}

      {% if page.related_posts.size > 0 %}
			<hr>
        <h2> Related Posts </h2>
        <div class="grid-layout">
          <div class="pure-g">
          {% for item in page.related_posts %}
            {% assign posts = site.posts | where:"path", item %}
              {% for post in posts %}
              <div class="pure-u-1 pure-u-md-1-3">
                <div class="card">
                  <div class="card-header">
                  {% if post.banner_image and post.banner_image != "" %}
                    <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}">
                  {% else %}
                    <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ post.title }}">
                  {% endif %}
                  </div>
                  <div class="card-body">
                    <h3><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.sub_heading | slice: 0, 80 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}
<!-- Header Section End -->
    <main id="main-content">
        <!-- Blog Section Start  -->
        <div id="blog-single">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="blog-post">
                            <div class="post-thumb"> <img src="{{page.featured_image}}" alt="{{page.title}}"> </div>
                            <div class="post-content">
                                {{content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End  -->
        {% if page.artists.size > 0 %}
        <!-- testimonial Section Start -->
        <div id="testimonial" class="section">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title wow fadeIn">Featured Artists</h2>
                    <hr class="lines wow zoomIn">
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="touch-slider owl-carousel artists-carousel owl-theme">
                            {% for items in page.artists %}
                              {% for item in items %}
                                {% assign this-artist = {{item}} %}
                                {% for artist in site.artists %}
                                  {% assign artist-path = {{artist.path | prepend: "artist" }} %}
                                  {% if {{this-artist}} == {{artist-path}} %}
                                    <div class="testimonial-item"> <img src="{{artist.head_shot | absolute_url}}" alt="{{artist.name}}" />
                                        <div class="testimonial-text">
                                            {{artist.info}}
                                            <h3>{{artist.name}}</h3>
                                        </div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial Section Start -->
        {% endif %}
    </main>